<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>Pooja's Shopping Mart</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
</head>

<body>
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <h2>Pooja's <em>Shopping Mart</em></h2>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Our Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/checkout">Checkout<a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tracker">Tracker
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-heading products-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h4>Track Your Orders</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col my-4">
            <h2> Enter Your Order Id and Email address to track your order </h2>
            <form method="post" action="/checkout/" id="trackerForm" class="col my-4">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Order Id</label>
                        <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" style="margin:auto; display:block;" class="btn btn-dark py-2">Track Order</button>
                </div>
        </div>
        <div class="col my-4 py-2">
            <h2>Your Order Status :</h2>
            <div class="my-4">
                <ul class="list-group" id="items">
                    Enter your order Id & email to track your items !!
                </ul>
            </div>
        </div>
        <div class="col my-4">
            <h2>Your Order Details :</h2>
            <div class="my-4">
                <ul class="list-group" id="citems">
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner-content">
                        <p>All rights are reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) { //declaring the array outside of the
        if (!cleared[t.id]) { // function makes it static and global
            cleared[t.id] = 1; // you could use true and false, but that's more typing
            t.value = ''; // with more chance of typos
            t.style.color = '#fff';
        }
    }
    </script>
    <script>
    $('#trackerForm').submit(function(event) {
        $('#items').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
                type: 'POST',
                url: '/tracker/',
                data: formData,
                encode: true
            })
            .done(function(data) {
                $('#citems').empty();
                data = JSON.parse(data);
                if (data['status'] == 'success') {
                    updates = data['updates'];
                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
                        $('#items').append(mystr);
                    }
                    // Fill in the order details
                    cart = JSON.parse(data['itemsJson']);
                    for (item in cart) {
                        let name = cart[item][1];
                        let qty = cart[item][0];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
                        $('#citems').append(mystr);
                    }
                } else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                    $('#items').append(mystr);
                    $('#citems').append(mystr);
                }
            });
        event.preventDefault();
    });
    </script>
</body>

</html>